blas=1.0
ca-certificates=2021.10.26
certifi=2021.10.8
click=8.0.3
colorama=0.4.4
dataclasses=0.8
flask=2.0.2
icc_rt=2019.0.0
intel-openmp
itsdangerous
jinja2=3.0.2
joblib=0.17.0
markupsafe=2.0.1
mkl=2021.4.0
mkl-service=2.4.0
mkl_fft=1.3.1
mkl_random=1.2.2
numpy=1.21.2
gunicorn
numpy-base=1.21.2
openssl=1.1.1
pip=21.2.4
python=3.9.7
scikit-learn=1.0.2
scipy=1.7.3
setuptools=58.0.4
six=1.16.0
sqlite=3.37.0
threadpoolctl=2.1.0
tzdata
vc=14.2
vs2015_runtime=14.27.29016
werkzeug=2.0.2
wheel=0.37.1
wincertstore=0.2
